html {
    background-color: #000;
}
#playerCharacter {
    position: relative;
    top: -512px;
    left: -960px;
}
#npcCharacter1 {
    position: relative;
    top: -512px;
    left: -512px;

}
footer {
    position: relative;
    color: #fff;
    font-style: italic;
    text-align: center;
}