html {
    background-color: #000;
}
#playerCharacter {
    position: relative;
    top: -512px;
    left: -960px;
    z-index: 2;
}
footer {
    position: relative;
    color: #fff;
    font-style: italic;
    text-align: center;
}